<html ng-app="chat">
<head>
	<script src="bower_components/angular/angular.js"></script>
	<script src="https://blooming-reaches-41821.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="homecontroller">	
	<form name="loginForm">
		<input type="text" ng-model="username" required/>
		
		The username : {{username}} is {{available?'available':'not available'}}	
		
		<button ng-click="login()" ng-show="loginForm.$valid">Login</button>
	</form>

</body>
</html>
