<div ng-controller="ChatController">
    <div>
        <div ng-model="roomName">This room is called {{roomName}}</div>
        <div ng-model="roomTopic">The topic is {{roomTopic}}</div>
        <ul>
            <li ng-repeat="op in ops">
                {{op}}
            </li>
        </ul>
        <form>
            <select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple>
              <option ng-repeat="user in users" value="{{user}}">{{user}}</option>
            </select><br>
            <tt>multipleSelect = {{data.multipleSelect}}</tt><br/>
            <button ng-click="kickUsers(data.multipleSelect)">Kick Selected User</button>
        </form>
        <ul>
            <li ng-repeat="message in messages">
                Time: {{message.timestamp | date:'HH:mm:ss'}} User: {{message.nick}} Message: {{message.message}} 
            </li>
        </ul>
        <form>
            <input type="text" ng-model="message" required />
            <button ng-click="addMessage(message)">Send Message</button>
        </form>
        <button ng-click="leaveRoom()">Leave Room</button>
        <div ng-model="servermessage">{{servermessage.user}} {{servermessage.message}} {{servermessage.room}}</div>
    </div>
</div>