<div ng-controller="LoginController">
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="username" ng-model="nick" id="inputEmail" class="form-control" placeholder="Enter username" required="" autofocus="">
            <button class="btn btn-md btn-warning btn-block" ng-click="login()" type="submit">Login</button>
        </form>
    </div>
</div>