<div ng-controller="RoomController">
<!--     <div ng-show="showRooms" class="ng-hide"> -->
    <div class="container">
        This is the list of Rooms
        <ul>
         <div class="list-group" ng-repeat="room in roomlist">
          <li ng-repeat="room in roomlist">
            <a type="submit" ng-click="join(room.room)" class="list-group-item" ng-href="#home/chat/{{nick}}/{{room.room}}">
            Name: {{room.room}} Size: {{room.size}}</a>
          </div>
        </ul>
        <form>
          <div class="row">
            <div class="col-xs-2">
              <input type="text" class="form-control" placeholder="Room name" ng-model="roomName" required/>
            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" placeholder="Room topic" ng-model="roomTopic" required/>
            </div>
            <div class="col-xs-3">
              <input type="text" class="form-control" placeholder="Room password" ng-model="roomPassword" />
              </div>
              <div class="col-xs-2">
            <button class="btn btn-default" type="submit" ng-click="createRoom()">Create New Room</button>
            </div>
          </div>
        </form>
    </div>
</div>