<div ng-controller="RoomController">
<!--     <div ng-show="showRooms" class="ng-hide"> -->
    <div class="loginmodal-container">
        This is the list of Rooms
        <ul>
          <li ng-repeat="room in roomlist">
            <a type="submit" ng-click="join(room.room)" class="login loginmodal-submit" ng-href="#home/chat/{{nick}}/{{room.room}}">
            Name: {{room.room}} Size: {{room.size}}</a>
          </li>
        </ul>
        <form>
          Name: <input type="text" ng-model="roomName" required/>
          Topic: <input type="text" ng-model="roomTopic" required/>
          Password: <input type="text" ng-model="roomPassword" />
          <button ng-click="createRoom()">Create New Room</button>
        </form>
    </div>
</div>